.entry-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: em(30);
		line-height: 1;
		color: $primary-color;
	}

	h1,
	h2 {
		font-size: em(26);
	}

	h3,
	h4 {
		font-size: em(23);
	}

	h5,
	h6 {
		font-size: em(20);
	}

	p,
	blockquote {
		margin-bottom: em(30);
	}

	p {
		line-height: 1.75;
	}

	ul {
		margin-bottom: em(30);
		margin-left: em(15);
		clear: both;

		li {
			margin-bottom: em(5);
			list-style: disc;
			position: relative;
			padding-left: em(16);
		}
	}

	a {
		font-weight: 700;
		transition: 300ms;
		color: $primary-color;
		border-bottom: 1px dotted;
		transition: 300ms ease;

		&:hover {
			opacity: 0.66;
		}
	}

	img {
		margin-bottom: em(30);

		&.aligncenter {
			margin-right: auto;
			margin-left: auto;
			display: block;
		}

		&.alignright {
			float: right;
			max-width: 48%;
			margin-left: em(15);
		}

		&.alignleft {
			float: left;
			max-width: 48%;
			margin-right: em(15);
		}
	}
}

.paging-container {
	text-align: center;

	.page-numbers {
		line-height: em(30);
		padding: 0 em(10);
		background-color: #eee;
		display: inline-block;
		border-radius: 5px;
		font-weight: 700;
		transition: 300ms;

		&.current {
			background-color: $primary-color;
			color: #fff;
		}

		&:hover {
			background-color: #ddd;
		}
	}
}

#brandco-post-navigation,
.posts-navigation {
	background-color: #f9f9f9;
	@include clearfix;

	a[rel="next"],
	.nav-next a {
		display: block;
		float: right;
		width: 50%;
		padding: em(30);
		text-align: right;
		transition: 300ms;

		&:hover {
			background-color: rgba(#000,0.05);
		}

		@include breakpoint('below_900px') {
			float: none;
			width: 100%;
			text-align: center;
		}
	}

	a[rel="prev"],
	.nav-previous a {
		display: block;
		float: left;
		width: 50%;
		padding: em(30);
		transition: 300ms;

		&:hover {
			background-color: rgba(#000,0.05);
		}

		@include breakpoint('below_900px') {
			float: none;
			width: 100%;
			text-align: center;
		}
	}
}





