#SiteMain {

	.ButtonStyle,
	button,
	input[type="submit"] {
		font-weight: 700;
		color: #fff;
		text-align: center;
		font-size: em(14);
		letter-spacing: 1.5px;
		text-transform: uppercase;
		border: 0px solid transparent;
		background-color: $primary-color;
		padding: 8px;
		box-shadow: 0 0 transparent;
		transition: 300ms;
		display: inline-block;
		width: auto;
		min-width: 200px;
		cursor: pointer;
		height: $form-field-height;

		&:focus {
			outline: 0;
			background-color: $primary-color;
			opacity: 0.8;			
		}

		&:hover {
			opacity: 0.82;
		}

		@include breakpoint('below_750px') {
			width: 100%;
			display: block;
		}
	}


	.input-search-holder {
		@include fa;
		width: 100%;
		position: relative;

		&:after {
			content: "\6e";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: transparent;
			width: $form-field-height;
			line-height: $form-field-height;
			text-align: center;
			pointer-events: none;
			color: #bbb;
		}
	}

	input {
		border: 1px solid #ddd;
		height: $form-field-height;
		padding: 0 em(15);
		width: 100%;
		box-sizing: border-box !important;
		border-radius: 5px;
		box-shadow: 0 0 transparent;
		transition: 300ms;
		-webkit-appearance: none;
		font-size: em(16);

		&:focus,
		&:active {
			outline: 0;
			background-color: #f9f9f9;
		}
	}

	select {
		border: 1px solid #ddd;
		height: $form-field-height;
		padding: 0 em(10);
		width: 100%;
		box-sizing: border-box !important;
		border-radius: 5px;
		box-shadow: 0 0 transparent;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-color: #fff;
		transition: 300ms;
		font-size: em(16);

		&:focus,
		&:active {
			outline: 0;
			background-color: #f9f9f9;
		}
	}

	select::-ms-expand {
		display: none;
	}

	textarea {
		overflow: hidden;
		font-size: em(16);
		border: 1px solid #ddd;
		height: ( $form-field-height * 2 );
		padding: em(10);
		width: 100%;
		box-sizing: border-box !important;
		border-radius: 5px;
		box-shadow: 0 0 transparent;
		resize: none;
		transition: 300ms;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;	

		&:focus {
			outline: 0;
			background-color: #f9f9f9;
		}
	}

	aside {

		.search-form {
			
			input[type="submit"] {
				display: none;
			}
		}
	}
	.gform_wrapper {
		form {
			.gform_heading {
				margin: em(15) 0;

				.gform_title {
					margin-bottom: 5px;
				}

				.gform_description {
					margin-bottom: em(15);
					display: block;
				}
			}
			.gform_body {

				.gfield_label {
					text-transform: uppercase;
					font-weight: 700;
					font-size: em(12);
					margin-bottom: 5px;
					display: block;
					opacity: 0.5;
				}

				ul.gform_fields {
					margin: 0;
					padding: 0;

					li.gfield {
						list-style: none;
						margin: 0 0 em(20) 0;
						padding-left: 0;

						li {
							list-style: none;
						}

						.gfield_radio,
						.gfield_checkbox {
							margin: 0;
							> li {
								margin-bottom: em(8);
							}
							label {
								display: inline-block;
							}
							input {
								height: auto;
								vertical-align: middle;
								display: inline-block;
								width: auto;
								margin-right: em(10);
							}
						}

						.ginput_container_multiselect {
							select {
								height: ( $form-field-height * 2 );
								padding: em(10);
							}
							.select-holder {
								&:after {
									display: none;
								}
							}
						}

						.ginput_container_fileupload {
							input {
								border: 0 transparent;
								padding: 0;
							}
						}
					}
				}
			}

			.gform_footer {
				padding: 30px 0;
				input[type="submit"] {

				}
			}
		}

		.validation_error,
		.validation_message {
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 15px;
			box-shadow: 0 1px 1px rgba( #000, 0.2 );
			border-left: 3px solid #D64B15;
			background-color: rgba( #D64B15, 0.5 );
			font-weight: 700;
			font-size: 0.85em;
		}
	}

	.gform_ajax_spinner {
		display: none;
	}

	.input-submit-wrapper {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 0;
			background-color: rgba(#000, 0.5);
			opacity: 1;
			transition: 1s;
		}
		&.bco-submit-animation {
			&:after {
				width: 100%;
				opacity: 0.5;
			}
		}
	}

}












