/**
 *

$('.wolfnet_widgetBeds select option:first-of-type').text('Beds');
$('.wolfnet_widgetBaths select option:first-of-type').text('Baths');
$('#Section__QuickSearch .wolfnet_quickSearchForm_submitButton').text('GO');
 
 */

#SiteMain {
	.wolfnet_widget.wolfnet_listingGrid .wolfnet_toolbar .wolfnet_page_info .wolfnet_page_items_select select, 
	.wolfnet_widget.wolfnet_propertyList .wolfnet_toolbar .wolfnet_page_info .wolfnet_page_items_select select {
		max-width: none !important;
	}

	.wolfnet_quickSearch_searchText {
		width: 100% !important;
		height: 50px !important;
	}

	.wolfnet_quickSearchFormButton button {
		height: 50px !important;
	}

	.wolfnet_propertyList {
		line-height: 1.75;
	}

	.wolfnet_quickSearch {
		border: 0 solid transparent;
		
		.wolfnet_searchType {
			padding: 0 0 5px 0;
		}
	
		.wolfnet_searchType li {
			list-style: none;
			display: inline-block;
			float: none;
			padding: 0;
		}

		.wolfnet_searchType li:before {
			display: none !important;
		}

		.wolfnet_widgetPrice {
			text-align: left;

			@include breakpoint('above_750px') {
				div:first-of-type {
					float: left;
					width: 48%;

					> div {
						width: 100%;
					}
				}

				div:nth-of-type(2n) {
					float: right;
					width: 48%;

					> div {
						width: 100%;
					}					
				}				
			}
		}

		.wolfnet_widgetPrice div {
			display: block;
		}

		.wolfnet_widgetPrice div select {
			display: block;
			margin: 0 0 10px;
		}

		.wolfnet_widgetBedBath {
			text-align: left;
		}

		.wolfnet_widgetBeds,
		.wolfnet_widgetBaths {
			display: block;
			height: auto;
			margin: 0 0 10px;
		}

		label {
			display: block;
		}

		.wolfnet_widgetBeds select, 
		.wolfnet_widgetBaths select {
			margin: 0;
		}
	}
}

/**
 * Vertical Quick Search
 */
 
 #Section__QuickSearch {
	@include breakpoint('above_750px') {
		height: 0;
	}

	#QuickSearch {
		background-color: $secondary-color;
		padding: 25px;
		border-radius: 5px;

		@include breakpoint('above_750px') {
			transform: translateY(-50%);
		}
	}

	.wolfnet_quickSearch {
		padding: 0;
		margin: 0;
		font-size: 0;

		.wolfnet_widgetTitle,
		.wolfnet_searchType {
			display: none;
		}

		label {
			display: none;
		}

		.wolfnet_widgetPrice,
		.wolfnet_widgetBedBath {
			display: inline !important;	
		}

		.wolfnet_widgetPrice .wolfnet_clearfix {
			display: none !important;
		}

		.wolfnet_searchTypeField,
		.wolfnet_widgetPrice > div:first-of-type,
		.wolfnet_widgetPrice > div:nth-of-type(2n),
		.wolfnet_widgetBeds,
		.wolfnet_widgetBaths,
		.wolfnet_quickSearchFormButton {
			display: inline-block;
			font-size: em(14);
			vertical-align: top;
			float: none !important;
			width: auto;
			padding: 10px;
			margin: 0;

			input,
			select {
				margin: 0;
				font-size: 16px;
			}
		}

		.wolfnet_searchTypeField {
			width: 100%;

			@include breakpoint('above_1200px') {
				width: 30%;
			}
		}

		.wolfnet_widgetPrice > div:first-of-type,
		.wolfnet_widgetPrice > div:nth-of-type(2n),
		.wolfnet_widgetBeds,
		.wolfnet_widgetBaths {
			width: 100%;

			@include breakpoint('above_500px') {
				width: 50%;
			}

			@include breakpoint('above_750px') {
				width: 25%;
			}

			@include breakpoint('above_1200px') {
				width: 15%;
			}
		}

		.wolfnet_quickSearchFormButton {
			width: 100%;

			@include breakpoint('above_1200px') {
				width: 10%;
			}

			button {
				min-width: 0 !important;
				width: 100%;
			}
		}
	}
}