@mixin clearfix {
    &:before, 
    &:after { 
        content: ""; 
        display: table; 
    }

    &:after { 
        clear: both; 
    }
}

@function rem($pixels, $context: $base-font) {
    @return ($pixels / $context) * 1rem;
}

@mixin font-size($pixels) {
    font-size: $pixels + px;
    font-size: rem($pixels);
}

@mixin fill() {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}