.center-block {
    margin: 0 auto;
    display: block;
    float: none;
}

.parallax-fill {
    position: absolute;
    top: -50px;
    right: 0;
    bottom: -50px;
    left: 0;
    z-index: 1; 
    background-size: cover;
    background-position: 50%;
}

li:focus {
    outline: none;
}