:root {
	font-size: $base-font-size + px;
}

html {
	@include font-size($base-font-size);
	color: $base-color;
	width: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $link-color;
	text-decoration: none;
	@include transition();

	&:hover {
		color: $link-hover-color;
	}
}

ul {
	font-size: 0;

	li {
		@include font-size($base-font-size);
		vertical-align: top;
	}
}

.plain-list {
	list-style: none;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

h1,
.h1 {
	@include font-size(26);

	@include breakpoint('above', 750px) {
		@include font-size(32);
	}
}

h2,
.h2 {
	@include font-size(20);

	@include breakpoint('above', 750px) {
		@include font-size(24);
	}
}

h3,
.h3 {
	@include font-size(18);

	@include breakpoint('above', 750px) {
		@include font-size(20);
	}
}

h4,
.h4 {
	@include font-size(18);
}

h5,
.h5 {
	@include font-size(16);
}

h6,
.h6 {
	@include font-size(14);
}

.big-text {
	@include font-size(34);

	@include breakpoint('above', 750px) {
		@include font-size(50);
	}
}

.small-text {
	@include font-size(12);
}

.uppercase-text {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute !important;

	&:focus {
		font-size: 16px;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

hr {
	height: 2px;
	background-color: #eee;
	clear: both;
	margin: 30px 0;
	border: none;
}

.inline-list {

	li {
		display: inline-block;
	}
}

.section-container {
	position: relative;
	z-index: 10;
	max-width: $container-width;
	margin: 0 auto;
	@include clearfix();
}

.section-padding {
	padding: ($padding * 2) $padding;
}

.plain-padding {
	padding: $padding;
}

.hero-padding-small {
	padding: ($padding * 4) $padding $padding;
}

.spacing-between-elements > *:not(:last-child) {
	margin-bottom: $padding;
}

.spacing-between-elements-big > *:not(:last-child) {
	margin-bottom: ($padding * 2);
}

.spacing-between-elements-small > *:not(:last-child) {
	margin-bottom: ($padding / 3);
}

.spacing-between-elements-horizontal {
	
	> *:not(:last-child) {
		margin-right: $padding;
	}
}

.spacing-between-elements-horizontal-small {
	
	> *:not(:last-child) {
		margin-right: ($padding / 2);
	}
}

.code-block {
	width: 100%;
	padding: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	resize: vertical;
	min-height: 150px;
	font-family: monospace;
	font-size: 13px;
	line-height: 1.6;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.background-light {
	background-color: $light-grey;
}

.margin-top-big {
	margin-top: ($padding * 2);
}

.margin-top {
	margin-top: $padding;
}

.margin-bottom-big {
	margin-bottom: ($padding * 2);
}

.margin-bottom {
	margin-bottom: $padding;
}

.margin-bottom-small {
	margin-bottom: ($padding / 3);
}
