/** Text */
$base-font-size: 16;
$font-family: sans-serif;

/** Layout */
$container-width: 1200px;
$padding: 30px;
$sidebar-width: 32%;

/** Color */
$black: #263238;
$light-grey: #ECEFF1;
$blue: #2196F3;
$dark-blue: #0D47A1;

$link-color: $blue;
$link-hover-color: $dark-blue;
$base-color: $black;

/** Buttons */
$button-border-radius: 3px;
$button-box-shadow: 0px 0px transparent;
$button-border-width: 2px;

/** Forms */
$form-field-height: 50px;
$form-field-height-mobile: 40px;
$forms-border-radius: 3px;
$forms-border: 1px solid #ddd;
$forms-background-color: #fff;
$forms-background-color-on-focus: #f9f9f9;
$forms-input-padding-small: 0 15px;
$forms-input-padding: 0 20px;
$forms-textarea-padding: 20px;

/** Header */
$header-height: 100px;
$header-height-mobile: 70px;