.mobile-navigation {
	display: none;
}

@include breakpoint('below', 1100px) {

	[data-mobile-menu-is="opened"] {
		overflow: hidden;
		height: 100%;

		body {
			height: 100%;
			overflow: hidden;
		}
	}

	.mobile-navigation {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 199999;

		transform: translateX(100%);
		transition: 300ms ease 0ms;

		[data-mobile-menu-is="opened"] & {
			transition: 600ms ease 20ms;
			transform: translateX(0%);
		}
	}

	.mobile-navigation-right {
		width: 400px;
		max-width: 80%;
		right: 0;
		box-shadow: 0 0 50px rgba(#000, 0);

		[data-mobile-menu-is="opened"] & {
			box-shadow: 0 0 50px rgba(#000, 0.3);
		}
	}

	.mobile-navigation-left {
		transform: translateX(-100%);
		width: 400px;
		max-width: 80%;
		left: 0;
		box-shadow: 0 0 50px rgba(#000, 0);

		[data-mobile-menu-is="opened"] & {
			box-shadow: 0 0 50px rgba(#000, 0.3);
		}
	}

	.mobile-navigation-container {
		position: relative;
		z-index: 0;
		height: 100%;
		width: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		background-color: $offwhite;
	}

	.mobile-navigation-close {
		font-family: sans-serif;
		font-weight: 100;
		font-size: 40px;
		line-height: 40px;
		padding: 0 20px 10px;
		text-align: right;
	}

	.mobile-navigation-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: $black;
		z-index: 199995;

		opacity: 0;
		left: -999999px;
		transition: opacity 800ms ease 0ms, left 0ms ease 600ms;
		will-change: opacity;

		[data-mobile-menu-is="opened"] & {
			transition: left 0ms ease 0ms, opacity 400ms ease 20ms;
			left: 0;
			opacity: 0.8;
		}
	}

	.mobile-navigation-links {

		ul {
			padding: 0;
			margin: 0;

			li {
				display: block; 
				border-top: 1px solid rgba(#000, 0.1); 

				a {
					@include font-size(14);
					font-weight: 700;
					line-height: 1.2;
					padding: 15px 20px;
					display: block;
					color: $black;
				}
			}

			.sub-menu {
				li {
					a {
						padding: 15px 30px;
						background-color: rgba(#000, 0.05);
					}
				}

				.sub-menu {
					li {
						border-top: 1px solid rgba(#000, 0.15); 

						a {
							padding: 15px 40px;
							background-color: rgba(#000, 0.08);
						}
					}
				}                   
			}
		}

		.menu-item-has-children {

			> a {
				position: relative;
			}

			> .sub-menu {
				display: none;

				> li {

				}

				.sub-menu {
					display: none;
				}
			}
		}
		.menu {

			li {
				display: block;

				> a {
					display: block;
				}
			}
		}   
	}   
}
