.post-preview {
    @include font-size(14);

    p {
        line-height: 1.75;
    }
}

.post-preview.has-post-thumbnail {
    @include clearfix();

    .post-preview-thumbnail {
        padding-bottom: $padding;
    
        @include breakpoint('above', 650px) {
            float: left;
            width: 20%;
            padding-right: ($padding / 2);
        }
    }

    .post-preview-main {
        @include breakpoint('above', 650px) {
            float: right;
            width: 80%;
            padding-left: ($padding / 2);
        }
    }
}