input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.button-style {
    cursor: pointer;
    appearance: none;
    text-shadow: none;
    display: table;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;

    height: $form-field-height;
    padding: $forms-input-padding;
    background-color: $link-color;
    border: $button-border-width solid $link-color;
    box-shadow: $button-box-shadow;
    border-radius: $button-border-radius;

    @extend .small-text;

    @include transition();

    @include breakpoint('below', 500px) {
        padding: $forms-input-padding-small;
        height: $form-field-height-mobile;
    }

    &:focus {
        outline: 0;
        background-color: $link-hover-color;
        border-color: $link-hover-color;
    }

    &:hover {
        color: #fff;
        background-color: $link-hover-color;
        border-color: $link-hover-color;
    }

    &.button-style-hollow {
        background-color: transparent;
        color: $link-color;
        border: $button-border-width solid $link-color;

        &:hover {
            background-color: $link-hover-color;
            border-color: $link-hover-color;
            color: #fff;
        }
    }
}