textarea {
    width: 100%;
    resize: vertical;
    min-height: 140px;
    padding: $forms-textarea-padding;

    border-radius: $forms-border-radius;
    border: $forms-border;
    background-color: $forms-background-color;

    transition: 300ms ease;

    &:focus {
        outline: none;
        background-color: $forms-background-color-on-focus;
    }
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    box-shadow: none;

    padding: $forms-input-padding;
    height: $form-field-height;
    border: $forms-border;
    border-radius: $forms-border-radius;
    background-color: $forms-background-color;

    transition: 300ms ease;

    &:focus {
        outline: none;
        background-color: $forms-background-color-on-focus;
    }

    @include breakpoint('below', 500px) {
        padding: $forms-input-padding-small;
        height: $form-field-height-mobile;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;

    height: $form-field-height;
    padding: $forms-input-padding;
    border: $forms-border;
    border-radius: $forms-border-radius;
    background-color: $forms-background-color;

    background-image: url(../../images/svg/dropdown.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;

    &:focus {
        outline: none;
        background-color: $forms-background-color-on-focus;
    }

    @include breakpoint('below', 500px) {
        padding: $forms-input-padding-small;
        height: $form-field-height-mobile;
        background-position: calc(100% - 10px) 50%;
    }
}

select::-ms-expand {
    display: none;
}

.formField-select-holder {

}








