.widget-title {
    @extend .uppercase-text;
    @extend .h5;
    @extend .margin-bottom-small;
}

.sidebar-widget {

    ul {
        @extend .plain-list;
        @extend .spacing-between-elements-small;
    }
}

.widget_search {
    position: relative;

    input[type="search"] {
        padding-right: 60px;
    }

    input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url(../../images/svg/search.svg);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: 50%;
        color: transparent;
        font-size: 1px;
        padding: 0;
        width: 60px;
        background-color: transparent;
        border: none;
        opacity: 0.5;
    }
}