/**
 * Margin top/bottom and Padding top/bottom
 * .{responsive_size}-{size_title}-mb 
 */

$margins: (
    'tiny': 10px,
    'small': 20px,
    'medium': 40px,
    'large': 80px,
    'none': 0px
);

// Mobile first
@each $type, $margin in $margins { 
    .small-#{$type}-mb { margin-bottom: $margin; } 
    .small-#{$type}-mt { margin-top: $margin; }
    .small-#{$type}-pb { padding-bottom: $margin; } 
    .small-#{$type}-pt { padding-top: $margin; }
}

// Tablet
@each $type, $margin in $margins {
    @include above-medium { .medium-#{$type}-mb { margin-bottom: $margin; } };
    @include above-medium { .medium-#{$type}-mt { margin-top: $margin; } };
    @include above-medium { .medium-#{$type}-pb { padding-bottom: $margin; } };
    @include above-medium { .medium-#{$type}-pt { padding-top: $margin; } };
}

// Laptop
@each $type, $margin in $margins {
    @include above-large { .large-#{$type}-mb { margin-bottom: $margin; } };
    @include above-large { .large-#{$type}-mt { margin-top: $margin; } };
    @include above-large { .large-#{$type}-pb { padding-bottom: $margin; } };
    @include above-large { .large-#{$type}-pt { padding-top: $margin; } };
}

/**
 * Section Padding for <section>
 * .{responsive_size}-{size_title}-sp
 */

$paddings: (
    'small': 20px 20px,
    'medium': 40px 20px,
    'large': 80px 20px
);

// Mobile first
@each $type, $padding in $paddings { .small-#{$type}-sp { padding: $padding; } }

// Tablet
@each $type, $padding in $paddings { @include above-medium { .medium-#{$type}-sp { padding: $padding; } }; }

// Laptop
@each $type, $padding in $paddings { @include above-large { .large-#{$type}-sp { padding: $padding; } }; }


/** 
 * For horizontally spacing lists of elements, excluding the last child
 * .{responsive_size}-{size_title}-hs
 */

$spacings: (
    'tiny': 10px,
    'small': 20px,
    'medium': 40px,
    'large': 80px,
    'small-medium': 30px,
);

// Mobile first
@each $type, $spacing in $spacings { .small-#{$type}-hs > *:not(:last-child) { margin-bottom: $spacing }; }

// Tablet
@each $type, $spacing in $spacings { @include above-medium { .medium-#{$type}-hs > *:not(:last-child) { margin-bottom: $spacing } }; }

// Laptop
@each $type, $spacing in $spacings { @include above-large { .large-#{$type}-hs > *:not(:last-child) { margin-bottom: $spacing } }; }

