/**
 * =============================
 * Form Styles
 * =============================
 */

.button-style,
.formField-submit,
.gform_wrapper input[type="submit"] {
	font-weight: 700;
	color: #fff;
	text-align: center;
	font-size: rem(14);
	letter-spacing: 1.5px;
	text-transform: uppercase;
	border: 0 solid transparent;
	background-color: $black;
	border-radius: $formField-borderRadius;
	padding: 0 15px;
	box-shadow: 0 0 transparent;
	transition: 300ms;
	display: inline-block;
	width: auto;
	min-width: 200px;
	cursor: pointer;
	height: $formField-height;
	outline: 0;

	&:focus {
		outline: 0;
	}

	&:hover {

	}

	/**
	 * Extend button-style
	 */

	&.button-style-hollow {

	}

	&.button-style-white {

	}

	&.button-style-primary {

	}

	&.button-style-secondary {

	}
}

.formField-search-holder {
	width: 100%;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		width: $formField-height;
		line-height: $formField-height;
		text-align: center;
		pointer-events: none;
		color: #bbb;
		background-image: url(../images/svg/search.svg);
		background-size: 16px;
		background-position: 50%;
		background-repeat: no-repeat;
		opacity: 0.25;
	}
}

.formField-input,
.widget_search input[type="search"],
.gform_wrapper input {
	background-color: $formField-backgroundColor;
	border: $formField-borderWidth solid $formField-borderColor;
	height: $formField-height;
	padding: 0 rem(15);
	width: 100%;
	box-sizing: border-box !important;
	border-radius: $formField-borderRadius;
	box-shadow: none;
	transition: 300ms;
	-webkit-appearance: none;
	font-size: rem(16);

	&:focus,
	&:active {
		outline: 0;
		background-color: #f9f9f9;
	}
}

.formField-select,
.gform_wrapper select {
	background-color: $formField-backgroundColor;
	border: $formField-borderWidth solid $formField-borderColor;
	height: $formField-height;
	padding: 0 rem(15);
	width: 100%;
	box-sizing: border-box !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: 300ms;
	font-size: rem(16);
	border-radius: $formField-borderRadius;
	box-shadow: none;

	&:focus,
	&:active {
		outline: 0;
	}
}

.gfield select::-ms-expand,
.Select::-ms-expand {
	display: none;
}

.formField-select-holder {
	width: 100%;
	position: relative;

	&:after {
		content: "";
		font-family: sans-serif;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		width: $formField-height;
		line-height: $formField-height;
		text-align: center;
		pointer-events: none;
		background-image: url(../images/svg/dropdown.svg);
		background-size: 16px;
		background-position: 50%;
		background-repeat: no-repeat;
		opacity: 0.5;
	}
}

.formField-textarea,
.gform_wrapper textarea {
	background-color: $formField-backgroundColor;
	overflow: hidden;
	font-size: rem(14);
	line-height: 1.75;
	border: $formField-borderWidth solid $formField-borderColor;
	height: ( $formField-height * 2 );
	padding: rem(15);
	width: 100%;
	box-sizing: border-box !important;
	resize: none;
	transition: 300ms;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: $formField-borderRadius;
	box-shadow: none;


	&:focus {
		outline: 0;
	}
}
