/**
 * =============================
 * Global Styles
 * =============================
 *
 * Table of Contents:
 * ------------------
 * 1.0 - Global/Resets
 * 2.0 - Entry Content
 * 3.0 - Helpers
 * 4.0 - Misc
 * 5.0 - Javascript/Animation
 */


/**
 * =============================
 * 1.0 - Global/Resets
 * =============================
 */

html {
	font-size: 16px;
	height: 100%;
	background-color: transparent;
	overflow-x: hidden;
	max-width: 100%;
	color: $black;

}

body {
	@include font-size(16);
	overflow-x: hidden;
	min-height: 100%;
	background-color: transparent;
	color: $black;
	cursor: auto;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a img {
	border: 0;
}

ul {
	margin: 0;
	padding: 0;
	font-size: 0;
}

li {
	@include font-size(16);
	list-style: none;
	vertical-align: top;

	&:focus {
		outline: 0;
	}
}

body,
input,
select,
textarea {
	font-family: $fontFamily-body;
}

section,
article,
header,
footer {
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fontFamily-body;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
}

h1,
.h1 {
	@include font-size($headlineSize-h1);
}

h2,
.h2 {
	@include font-size($headlineSize-h2);
}

h3,
.h3 {
	@include font-size($headlineSize-h3);
}

h4,
.h4 {
	@include font-size($headlineSize-h4);
}

h5,
.h5 {
	@include font-size($headlineSize-h5);
}

h6,
.h6 {
	@include font-size($headlineSize-h6);
}

a,
img,
p,
figure,
blockquote {
	margin: 0;
	padding: 0;

	&:active,
	&:focus {
		outline: 0;
	}
}

a {
	color: #222;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	&:visited {
		color: inherit;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.page-container {
	@include clearfix;
	position: relative;
	z-index: 25;
	max-width: $container;
	margin: 0 auto;
}


/**
 * =============================
 * 2.0 - Entry Content
 * =============================
 */

.entry-content {
	line-height: 1.75;

	.gform_wrapper {
		margin-bottom: 30px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: rem(30);
		line-height: 1.2;
		color: $black;
	}

	p,
	blockquote {
		margin-bottom: rem(30);
	}

	p {
		line-height: 1.75;
	}

	ul {
		margin-bottom: rem(30);
		margin-left: rem(30);
		clear: both;

		li {
			margin-bottom: rem(5);
			list-style: disc;
			position: relative;
			padding-left: rem(10);
		}
	}

	a {
		font-weight: 700;
		transition: 300ms;
		color: $primary;
		border: 0;
		transition: 300ms ease;
	}

	img {
		margin-bottom: rem(30);

		&.aligncenter {
			margin-right: auto;
			margin-left: auto;
			display: block;
		}

		&.alignright {
			float: right;
			max-width: 48%;
			margin-left: rem(15);
		}

		&.alignleft {
			float: left;
			max-width: 48%;
			margin-right: rem(15);
		}
	}

	table,
	th,
	td,
	.mce-item-table,
	.mce-item-table th,
	.mce-item-table td {
		border: 1px solid #d1d1d1;
	}

	table a {
		color: #007acc;
	}

	table,
	.mce-item-table {
		border-collapse: separate;
		border-spacing: 0;
		border-width: 1px 0 0 1px;
		margin: 0 0 28px;
		width: 100%;
	}

	table th,
	.mce-item-table th,
	table caption {
		border-width: 0 1px 1px 0;
		font-size: 16px;
		font-weight: 700;
		padding: 7px;
		text-align: left;
		vertical-align: top;
	}

	table td,
	.mce-item-table td {
		border-width: 0 1px 1px 0;
		font-size: 16px;
		padding: 7px;
		vertical-align: top;
	}

	.gallery {
		margin-bottom: rem(30);
	}

	.gallery-item {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 100%;
		padding: 5px;

		a {
			text-decoration: none;
			border: 0;
			display: block;
		}

		img {
			margin: 0;
			display: block;
		}
	}

	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}

	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}

	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}

	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}

	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}

	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}

	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}

	.gallery-caption {
		display: block;
	}
}

/**
 * =============================
 * 3.0 - Helpers
 * =============================
 */

[data-src] { transition: 500ms ease; }
img[data-src] { opacity: 0; }

.no-margin { margin: 0; }

.border-bottom-thin { border-bottom: 1px solid $borderColor; }
.border-top-thin { border-top: 1px solid $borderColor; }

.text-black { color: $black; }
.text-primary { color: $primary; }
.text-white { color: #fff; }
.text-secondary { color: $secondary; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.block-center { margin: 0 auto; }

.background-cover { @include backgroundCover(); }
.background-contain { @include backgroundContain(); }

.padding-default { padding: 60px 30px; 
	@include breakpoint('above', 800px) { padding: 60px 60px; }
}

.absolute-fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.mapContainer {
	width: 100%;
	height: 400px;

	img,
	embed,
	object {
		max-width: none !important;
	}
}

/**
 * =============================
 * 4.0 - Misc
 * =============================
 */

html .live-edit-button {
	top: auto;
	right: auto;
	left: 10px;
	bottom: 10px;
	position: fixed;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.screen-reader-object {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute !important;

	&:focus {
		font-size: 16px;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/**
 * =============================
 * 5.0 - Javascript/Animation
 * =============================
 */

[data-image-defer] {
	opacity: 0;
	transition: 300ms;
	display: block;
	width: 100%;
}
