#SiteNavigation {
	position: relative;
	z-index: 300;
	text-align: center;

	#MobileToggle {
		white-space: nowrap;
		line-height: 40px;
		padding: 0;
		font-size: 0;
		display: inline-block; 
		background-color: $primary-color;
		border-radius: 3px;

		span {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			padding: 0 15px;
			color: #fff;
			font-weight: 700;
		}

		.Icon__Menu {

			&:before {
				content:'\2630';
				display: inline-block;
				vertical-align: top;
				font-style: normal;
				font-family: sans-serif;
				background-color: rgba(#fff, 0.2);
				font-size: 16px;
				width: 40px;
				text-align: center;
				color: #fff;
				border-radius: 3px 0 0 3px;
			}
		}

		@include breakpoint('DesktopMenu') {
			display: none;
		}
	}
	
	/**
	 * Mobile Popout Styling
	 */

	&.PopoutResponsiveNav {

		#PrimaryMenu {
			display: none; 

			@include breakpoint('DesktopMenu') {
				display: block;
			}
		}
	}

	/**
	 * Simply Mobile Responsive Menu
	 */

	&.SimpleResponsiveNav {

		#PrimaryMenu {
			display: none; 

			@include breakpoint('DesktopMenu') {
				display: block;
			}
		}
	}

	/**
	 * Simply Mobile Responsive Menu
	 */

	#PrimaryMenu {
		display: none; 
		text-align: left;

		@include breakpoint('DesktopMenu') {
			display: block;
			text-align: center;
		}
		
		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style: none;
			display: block;
			vertical-align: top;
		}

		.menu-item-has-children {
			position: relative;

			svg {
				width: 14px;
				height: 14px;
			}

			@include breakpoint('DesktopMenu') {

				// > a:after {
				// 	content: '▾';
				// 	font-family: sans-serif;
				// 	vertical-align: top;
				// 	display: inline-block;
				// 	margin-left: 5px;
				// }

				.sub-menu {
					opacity: 0;
					visibility: hidden;
					transition: 300ms;
				}
				
				&:hover {
					> .sub-menu {
						display: block !important;
						visibility: visible;
						opacity: 1;
						transform: translate(0px);
					}
				}
			}
		}

		a {
			white-space: nowrap;
			line-height: 40px;
			padding: 0 15px;
			display: block;
		}

		> li {

			@include breakpoint('DesktopMenu') {
				display: inline-block;
			}

			> .sub-menu {
				display: none;

				@include breakpoint('DesktopMenu') {
					display: block;
					position: absolute;
					top: 100%;
					left: 0;
					visibility: hidden;
					transform: translateY(-5px);
				}

				a {
					background-color: #333;
				}

				.sub-menu {
					display: none;

					@include breakpoint('DesktopMenu') {
						display: block;
						position: absolute;
						top: 0;
						left: 100%;
						visibility: hidden;
						transform: translateX(5px);
					}
				}
			}
		}
	}
}














