@function em( $pixels, $context: 16 ) {
	@return ($pixels / $context) * 1rem;
}

@mixin clearfix {
	&:before, 
	&:after { 
		content: ""; 
		display: table; 
	}

	&:after { 
		clear: both; 
	}
}

@mixin fa {
	display: inline-block;
	font: normal normal normal 14px/1 brandcoicons;
	font-size: inherit;
	text-transform: none !important;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translateY(2px);
}






