@font-face {
  font-family: 'brandcoicons';
  src: url("../fonts/brandcoicons.eot");
  src: url("../fonts/brandcoicons.eot?#iefix") format("embedded-opentype"),
     url("../fonts/brandcoicons.woff") format("woff"),
     url("../fonts/brandcoicons.ttf") format("truetype"),
     url("../fonts/brandcoicons.svg#brandcoicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 brandcoicons;
  font-size: inherit;
  text-transform: none !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(2px);
}

.fa-phone:before {
  content: "\61";
}
.fa-envelope:before {
  content: "\62";
}
.fa-left-open-big:before {
  content: "\63";
}
.fa-right-open-big:before {
  content: "\64";
}
.fa-facebook:before {
  content: "\65";
}
.fa-twitter:before {
  content: "\66";
}
.fa-linkedin:before {
  content: "\67";
}
.fa-instagram:before {
  content: "\68";
}
.fa-pinterest:before {
  content: "\69";
}
.fa-google-plus:before {
  content: "\6a";
}
.fa-bars:before {
  content: "\6b";
}
.fa-sign-in:before {
  content: "\6c";
}
.fa-sort:before {
  content: "\6d";
}
.fa-search:before {
  content: "\6e";
}
.fa-caret-right:before {
  content: "\6f";
}
.fa-youtube-play:before {
  content: "\70";
}
.fa-close:before {
  content: "\71";
}
.fa-angle-down:before {
  content: "\72";
}
