// Site
$container: em(1200);

// Fonts
$header-font: 'Open Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;
$alt-font: 'Open Sans', sans-serif;

// Colors
$primary-color: #0795d7;
$secondary-color: #c40000;
$black: #333;
$lightgrey: #f9f9f9;
$text-color: $black;
$header-color: $primary-color;

// Forms
$form-field-height: 50px !default;

