// Site
$container: em(1100);

// Fonts
$header-font: 'Open Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;
$alt-font: 'Open Sans', sans-serif;

// Colors
$primary-color: #0795d7;
$text-color: #333;
$header-color: $primary-color;

// Forms
$form-field-height: 50px !default;

