/**
 * Grid
 * On parent element:
 * .grid.{responsive_size}-{column_count}-grid
 */

.grid {
    font-size: 0;
    padding: 0;

    > * {
        list-style: none;
        display: inline-block; 
        vertical-align: top; 
        width: 100%; 
        @include font-size($base-font-size);
    }
}

@for $i from 1 through 12 {
    $width: (100% / $i);
    @include on-small-only() {
        .small-#{$i}-grid > * { width: $width; }
    }
}

@for $i from 1 through 12 {
    $width: (100% / $i);
    @include on-medium-only() {
        .medium-#{$i}-grid > * { width: $width; }
    }
}

 @for $i from 1 through 12 {
    $width: (100% / $i);
    @include above-large() {
        .large-#{$i}-grid > * { width: $width; }
    }       
}


/**
 * Grid padding (For grid setup)
 * On parent element:
 * .{responsive_size}-{size_title}-gridpad

 * Column padding (For row/column setup)
 * On parent element:
 * .{responsive_size}-{size_title}-colpad
 */

$margins: (
    'tiny': 10px,
    'small': 20px,
    'medium': 40px,
    'large': 80px
);

// Mobile only
@each $type, $margin in $margins {
    @include on-small-only() {
        .small-#{$type}-gridpad {
            margin: -$margin / 2;

            > * { padding: $margin / 2; }
        }

        .small-#{$type}-colpad {
            margin: 0 (-$margin / 2);

            > * {
                padding: 0 ($margin / 2);
            }
        }
    }
}

// Tablet only
@each $type, $margin in $margins {
    @include above-medium() {
        .medium-#{$type}-gridpad {
            margin: -$margin / 2;

            > * { padding: $margin / 2; }
        }   

        .medium-#{$type}-colpad {
            margin: 0 (-$margin / 2);

            > * {
                padding: 0 ($margin / 2);
            }
        }
    }
}

// Laptop only
@each $type, $margin in $margins {
    @include above-large() {
        .large-#{$type}-gridpad {
            margin: -$margin / 2;

            > * { padding: $margin / 2; }
        }  

        .large-#{$type}-colpad {
            margin: 0 (-$margin / 2);

            > * {
                padding: 0 ($margin / 2);
            }
        }
    }
}

/**
 * Row/column setup
 * On parent element:
 * .row.{responsive_size}-{size_title}-colpad
 *
 * On child elements:
 * .column.{responsive_size}-{column_span}
 */

.row {
    @include clearfix();
}

.column {
    float: left;
    width: 100%;
}

@for $i from 1 through 12 {
    $width: percentage($i / 12);
     .small-#{$i} { width: $width; }
}

@for $i from 1 through 12 {
    $width: percentage($i / 12);
    @include above-medium() { 
        .medium-#{$i} { width: $width; } 
    }  
}

@for $i from 1 through 12 {
    $width: percentage($i / 12);
    @include above-large() {
        .large-#{$i} { width: $width; }
    }       
} 

